/* Navbar  */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 9;
}

.subnav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

.brand-logo {
  height: 90px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  padding-left: 10px;
  display: flex;
  /* background-color: aqua; */
  width: clamp(12.5rem, 50vw, 31.25rem);
}

.search-box {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  background: none;
  color: #a9a9a9;
  outline: none;
  width: clamp(12.5rem, 50vw, 31.25rem);
}

.search-box::placeholder {
  color: #a9a9a9;
}

.search-btn {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
}

.search-btn:hover {
  background: rgb(82, 82, 206);
  transition: 0.5 ease-in-out;
}

.nav-items a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.nav-items .ri-user-line,
.nav-items .ri-shopping-cart-line {
  font-size: 1.8em;
  color: rgb(0, 0, 0);
}

.menu-btn {
  position: relative;
  /* display: none; */
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
  /* background-color: aqua; */
}

.links-container {
  overflow-x: hidden;
}

.links-container ul {
  width: 100%;
  display: flex;
  padding: 10px 10%;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
}

.link:hover {
  opacity: 1;
}

.hamburger-btn {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 6px 0;
  transition: all 0.3s ease;
  background-color: #333030;
  border-radius: 3px;
}

/* Phone */
@media only screen and (max-width: 43.75em) {
  .search {
    display: none;
  }

  .links-container {
    position: absolute;
    overflow-x: hidden;
    height: 100vh;
    width: 200px;
    vertical-align: baseline;
    right: 0;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-2000px);
    transition: transform 0.25s ease-in-out;
  }

  .links-container.active {
    transform: translateX(0);
  }

  .links-container ul {
    position: absolute;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .links-container .link-item1,
  .link-item2,
  .link-item3,
  .link-item4 {
    padding: 0 30px 50px 0px;
    color: #080808;
  }

  .link {
    opacity: 1;
    font-size: 2rem;
  }

  .link:hover {
    color: #a9a9a9;
  }

  .hamburger-btn {
    display: block;
    z-index: 9;
    position: absolute;
    margin-left: 5.6em;
  }

  /* Animation that turns hamburg in X */
  .hamburger-btn.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-btn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-btn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger-btn:hover {
    cursor: pointer;
  }

  .nav-items a {
    margin-left: 10px;
  }
}

/* Implementare side-bar */
